@import 'variables';

body {
  background-color: $body-bg-color;
  color: $color-text-dark;
}

.title-z-index,
.subtitle-z-index,
.input-z-index {
  @extend %z-index-2;
}

.navbar {
  z-index: 3;
}

.shopping-cart {
  margin-left: 4px;
}

.user-icon {
  margin-left: 1rem;
  padding: 0.5rem;
}

.color-white {
  color: white;
}

#particles-js {
  @extend %bg-color;

  animation: BgGradient 10s ease infinite;
  width: 100%;
  height: 87px;
}

.btn-bg-color {
  @extend %bg-color;

  animation: BgGradient 2s ease infinite;
  color: white;
}

.particles-js-canvas-el {
  position: relative;
  top: -61px;
}

@keyframes BgGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.form-search {
  width: 278px;
}

.carousel-section {
  grid-area: carousel-section;
}

.first-travel-section {
  grid-area: first-travel-section;
}

.second-travel-section {
  grid-area: second-travel-section;
}

.third-travel-section {
  grid-area: third-travel-section;
}

.main {
  max-width: 1200px;
  background-color: white;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "carousel-section"
    "first-travel-section"
    "second-travel-section"
    "third-travel-section";
}

.img-carousel {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  height: 300px;
}

.carousel-control {
  color: $primary-color;
  width: 5rem;
  height: 5rem;
}

.color-blue {
  color: $primary-color;
}

.secundary-color {
  background-color: $secundary-color;
  color: white;
}

.border-white:hover {
  color: white;
}

footer {
  background-color: white;
}

.color-text-dark {
  color: $color-text-dark;
}

@media (min-width: 768px) {
  .form-search {
    width: 633px;
  }

  #particles-js {
    height: 222px;
  }

  .particles-js-canvas-el {
    top: -188px;
  }

  .img-carousel {
    width: 500px;
    height: 300px;
  }
}

@import 'search-style';
