.title-z-index,
.subtitle-z-index,
.input-z-index {
  z-index: 2;
}

#particles-js, .btn-bg-color {
  background: linear-gradient(153deg, #d36c52 0%, #d35266 25%, #d35270 50%, #d35266 75%, #d36c52 100%);
  background-size: 400% 300%;
  background-position: 50%;
}

body {
  background-color: #f8f9fa;
  color: #383838;
}

.navbar {
  z-index: 3;
  background-color: #383838;
}

.shopping-cart {
  margin-left: 4px;
}

.user-icon {
  margin-left: 1rem;
  padding: 0.5rem;
}

.color-white {
  color: white;
}

.travel-navbar-brand {
  color: white;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.travel-navbar-brand:focus {
  color: white;
}

.travel-nav-link {
  color: white;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.travel-nav-link:focus {
  color: white;
}

.btn-bg-dark {
  background-color: #383838;
  color: white;
}

.add-to-car {
  height: 14px;
  line-height: 7px;
}

#particles-js {
  animation: BgGradient 10s ease infinite;
  width: 100%;
  height: 87px;
}

.btn-bg-color {
  animation: BgGradient 2s ease infinite;
  color: white;
}

.particles-js-canvas-el {
  position: relative;
  top: -61px;
}

@keyframes BgGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-search {
  width: 278px;
}

.carousel-section {
  grid-area: carousel-section;
}

.first-travel-section {
  grid-area: first-travel-section;
}

.second-travel-section {
  grid-area: second-travel-section;
}

.third-travel-section {
  grid-area: third-travel-section;
}

.main {
  max-width: 1200px;
  background-color: white;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "carousel-section" "first-travel-section" "second-travel-section" "third-travel-section";
}

.img-carousel {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  height: 300px;
}

.carousel-control {
  color: #d35266;
  width: 5rem;
  height: 5rem;
}

.color-blue {
  color: #d35266;
}

.secundary-color {
  background-color: #888;
  color: white;
}

.border-white:hover {
  color: white;
}

footer {
  background-color: white;
}

.color-text-dark {
  color: #383838;
}

@media (min-width: 768px) {
  .form-search {
    width: 633px;
  }
  #particles-js {
    height: 222px;
  }
  .particles-js-canvas-el {
    top: -188px;
  }
  .img-carousel {
    width: 500px;
    height: 300px;
  }
}

.promotions {
  padding-left: 0.25rem;
}

.left-section {
  grid-area: left-section;
  display: none;
}

.right-section {
  grid-area: right-section;
}

.main-search-grid {
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "right-section";
}

.bg-color-white {
  background-color: white;
}

.img-search-article {
  object-fit: cover;
}

.secundary-color-text {
  color: #888;
}

.form-check-input:checked {
  background-color: #d35266;
  border-color: #d35266;
}

@media (min-width: 768px) {
  .main-search-grid {
    grid-template-columns: 30% 70%;
    grid-template-areas: "left-section right-section";
  }
  .left-section {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */